.container {
  /* max-width: 1300px; */
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 32px;
}

.header {
  height: 316px;
  width: 1216px;
  position: relative;
  border-radius: 20px;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.56);
  /* background-image: */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main-logo-img {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 0px;
  margin-top: 0px;
  margin-top: -160px;
  width: 1216px;
  height: 316px;
}
.logo-cinema {
  position: relative;
  top: 7px;
}
.written-logo {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}

.logo-title {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* align-content: space-between; */
  align-items: baseline;
  margin-left: 32px;
  gap: 15px;
  position: relative;
  top: 168px;
  left: 32px;
}

.header-search-form {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-between;
  align-items: baseline;
  top: -60px;
}

.form-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  width: 280px;
  position: relative;
  border-bottom: 0.5px solid #ffffff;

  border-top: none;
  border-left: none;
  border-right: none;
  outline: 0;
  background: transparent;
  padding: 10px 10px;
  &:focus-within {
    /* border-bottom: 1px solid #ffffff;
    box-shadow: 0 0 15px #ffffff;
    border-radius: 5px; */
  }

  @include tablet {
    width: 336px;
  }

  @include desktop {
    width: 394px;
  }
}

.form-input::placeholder {
  color: #dfcdcd;
}

.search-btn {
  width: 22px;
  height: 22px;
  position: absolute;
  stroke: #ffffff;
  stroke: #ffffff;
  border: none;
  border-radius: 50%;
  background: url(./image/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 10px;
  transform: scale(1);
  @include transition(transform);
  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

@include tablet {
  .logo__name {
    display: block;
    color: #ffffff;
    font-weight: 500;

    font-size: 30px;
    line-height: 1.17;
  }

  .logo-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .logo {
    margin-right: 10px;
  }

  .form-input {
    width: 336px;
  }

  .search-form {
    position: relative;
  }
}

@include desktop {
  .form-input {
    width: 394px;
  }
}
